/* .jumbotron {
    background-image: url("../img/bg.png");
    background-position: top;
    height: 400px;
    background-size: cover;
}

.btn-orange {
    background-color: #FF852D;
    color: white;
}

.Header {
    color: white;
}

.nav {
    color: white;
}

.user{
    padding-left: 15px;
}

.logo {
    padding-left: 75px;
} */

.splash {
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: bottom;
    color: #FFF;
    padding-top: 40px;
    height: 835px;
}

.btn-outline-light.actice, .btn-outline-light:hover {
    border-radius: 45px;
    padding: 5px 15px;
    background-color: rgba(225, 225, 255, .5);
    border: 1px solid #FFF;
    color: #FFF;
}

.btn-outline-light {
    padding: 5px 15px;
    border: none;
}